<div class="container-base container-md">
  <div *ngIf="movie;" class="d-flex flex-column flex-md-row justify-content-between">
    
    <div class="movie-details w-100 w-md-60 mb-4 mb-md-0">
      <h1 *ngIf="movie?.Title">{{ movie.Title }}</h1>
      <p *ngIf="movie.Plot != 'N/A'" class="movie-description">{{ movie.Plot }}</p>
      <div *ngIf="movie?.Actors && movie?.Actors !== 'N/A'">
        <p><strong>Atores:</strong></p>
        <div class="d-flex flex-row actors-list">
          <div *ngFor="let actor of movie?.Actors?.split(',')" class="actor-card text-center">
            <div class="actor-photo rounded bg-light"></div>
            <p class="actor-name">{{ actor.trim() }}</p>
          </div>
        </div>
      </div>
      <div class="favorite-button-container mt-4">
        <button (click)="toggleFavorite()" class="btn btn-outline-secondary mt-3">
          {{ isFavorite ? 'Remover dos favoritos ♥' : 'Adicionar aos favoritos ♥' }}
        </button>
      </div>
    </div>
    
    <div class="movie-poster w-100 w-md-40 text-end position-relative">
      <div class="rating position-absolute top-50 start-0 translate-middle-y ms-3" *ngIf="movie?.imdbRating">
        <div class="stars" *ngIf="movie.Ratings && movie.Ratings.length > 0">
          <i *ngFor="let star of getStarsArray(); let i = index"
             class="text-warning me-1"
             [class.bi-star-fill]="star === 1"
             [class.bi-star-half]="star === 0.5"
             [class.bi-star]="star === 0">
          </i>
        </div>
      </div>                  
      <img *ngIf="movie.Poster !=='N/A'" [src]="movie.Poster" alt="Poster" class="img-fluid rounded shadow" style="max-width: 300px; max-height: 100%;">
      <img *ngIf="movie.Poster == 'N/A'" src="na-movie.png" alt="Poster" class="img-fluid rounded shadow" style="max-width: 300px; max-height: 100%;">
    </div>
  </div>

  <div *ngIf="loading" class="container-base text-center">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>