<div class="movie-grid">
  <div class="movie-card" *ngFor="let movie of movies">
    <div class="movie-card-shadow"></div>
    <img *ngIf="movie.poster_path != 'N/A'" [src]="movie.poster_path" alt="{{ movie.title }}">
    <img *ngIf="movie.poster_path == 'N/A'" src="na-movie.png" alt="{{ movie.title }}">
    <div class="movie-info">
      <div class="release-date">{{ movie.release_date | date: 'MMM d, yyyy' }}</div>
      <h2>{{ movie.title }}</h2>
      <a [routerLink]="['/movie', movie.title]">Detalhes</a>
    </div>
  </div>
</div>