<nav class="navbar-container">
    <div class="navbar-top">
        <div class="navbar-brand">
            <img src="logo.svg" alt="Logo" class="logo">
        </div> 
        <div class="search-container">
            <input type="text" placeholder="Search" (input)="onSearchTextChanged($event)" class="search-input">
        </div>
        <div class="profile" (click)="toggleDropdown()">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSmV1dNGD32jpnEkX59YxmtcH10Wx3_h9ghPEwmFDIOigMOdT4rao_ywqs-f8D-Nubd1SF_MFo-aDXh4xQ-nFVjHpyz2HrunhOsoH4K0yA" alt="User Avatar" class="avatar">
            <div class="dropdown-menu" [class.show]="isDropdownVisible">
                <div class="dropdown-header">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSmV1dNGD32jpnEkX59YxmtcH10Wx3_h9ghPEwmFDIOigMOdT4rao_ywqs-f8D-Nubd1SF_MFo-aDXh4xQ-nFVjHpyz2HrunhOsoH4K0yA" alt="User Avatar" class="dropdown-avatar">
                    <div>
                        <span>Tom Cook</span>
                        <span>tomexample.com</span>
                    </div>
                </div>
                <a href="#" class="dropdown-item">Your Profile</a>
                <a href="#" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item">Sign out</a>
            </div>
        </div>
    </div>
    <div class="navbar-bottom">
        <div class="menu-toggle" (click)="toggleMenu()">&#9776;</div>
        <div class="menu">
            <a href="/populares" class="menu-item">Populares</a>
        </div>
    </div>
</nav>