<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card shadow p-4 text-center" style="width: 400px;">
    <h2 class="text-center mb-4">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control text-center" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <p class="text-primary cursor-pointer" (click)="navigateToSignUp()">Não tem conta?</p>
      <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>
</div>